/*Important*/

body {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

a {
	list-style-type: none;
	text-decoration: none;
	color: inherit;
}

.container {
	width: 1280px;
	margin: 0 auto;
	/* outline: 1px solid red; */
}

.flex {
	display: flex;
}

/* Header */

.background {
	background-image: url(photo/background.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.border-header {}

.nav-bar {}

.nav-bar-list {
	gap: 32px;
}

.nav-bar-item {
	font-family: Inter;
	font-size: 11px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 1.5px;
	text-align: left;
	color: #E4D8CC;
}

.nav-bar-item:hover {
	color: #333;
	transition: all 0.7s ease;
}

.nav-bar-list-2 {
	gap: 38px;
	margin-left: 253px;
}

.nav-bar-item-2 {
	font-family: Inter;
	font-size: 11px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 1.5px;
	text-align: left;
	color: #E4D8CC;
}

.nav-bar-item-2:hover {
	color: #333;
	transition: all 0.7s ease;
}

/* Main */

.hero-title {
	font-family: Inter;
	font-size: 57px;
	font-weight: 400;
	line-height: 60px;
	color: #E4D8CC;
	margin-top: 364px;
}

.hero-paragraph {
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	text-align: left;
	color: #C3BAB1;
	margin-top: -30px;
}

.hero-button {
	box-sizing: border-box;
	border-radius: 100px;
	border: 2px solid #7837F3;
	background-color: #7837F3;
	padding: 14px 34px;
	cursor: pointer;
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
	margin-top: 42px;
	margin-right: 12px;
	margin-bottom: 116px;
	transition: background-color 0.3s, transform 0.3s;
}

.hero-button:hover {
	background-color: #5e23cd;
	transform: scale(1.1);
}

.hero-button:active {
	background-color: #3a0478;
	transform: scale(0.9);
}

.hero-button2 {
	border: inherit;
	border-radius: 100px;
	background: rgba(228, 216, 204, 0.5);
	padding: 14px 34px;
	cursor: pointer;
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
	transition: background-color 0.3s, transform 0.3s;
}

.hero-button2:hover {
	background-color: rgba(180, 168, 156, 0.5);
	transform: scale(1.1);
}

.hero-button2:active {
	background-color: rgba(102, 91, 80, 0.5);
	transform: scale(0.9);
}

/* Section 2 */
.background1 {
	background: rgba(231, 223, 216, 1);
}

.section2-title {
	font-family: Inter;
	font-size: 54px;
	font-weight: 400;
	line-height: 58px;
	color: rgba(16, 16, 16, 1);
	padding-top: 76px;
	margin-top: 0;
}

.section2-paragraph {
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: rgba(16, 16, 16, 1);
	margin-top: -30px;
	margin-bottom: 0px;
	padding-bottom: 30px;
}

.section2-image {
	margin-top: -400px;
	margin-left: 600px;
}

/* Section 3 */

.right-text {
	margin-left: 100px;
}

.left-image {
	margin-right: 20px;
	padding-top: 144px;
	padding-bottom: 116px;
}

.circle {
	padding-top: 215px;
}

.insideimg {
	font-family: Inter;
	font-size: 38px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	margin: -50px 0 0 -567px;
}

.section3-title {
	font-family: Inter;
	font-size: 19px;
	font-weight: 400;
	line-height: 36px;
	color: rgba(16, 16, 16, 1);
	margin: -30px 0 0 90px;
}

.section3-paragraph {
	font-family: Inter;
	font-size: 35px;
	font-weight: 400;
	line-height: 46px;
	letter-spacing: 1px;
	color: rgba(16, 16, 16, 1);
	margin-top: 38px;
}

.section3-expand {
	position: relative;
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 2px;
	color: rgba(16, 16, 16, 1);
	margin-top: -30px;
	text-transform: uppercase;
}

.section3-expand::after {
	content: "";
	position: absolute;
	bottom: -4px;
	left: 0;
	width: 85px;
	height: 2px;
	background-color: black;
}


.expanded-content {
	font-family: Inter;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	color: rgba(16, 16, 16, 1);
	margin-top: 38px;
}

/* Section 4 */
.section-4 {
	justify-content: flex-end;
}

.left-text {
	margin-right: 100px;
}

.right-image {
	margin-left: 20px;
	padding-top: 144px;
	padding-bottom: 116px;
}

/* Section 5 */
/* Section 6 */

.section-6-list {
	gap: 128px;
}

.quotes {
	margin-top: 116px;
}

.section-6-list-quotes {
	font-family: Inter;
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
	text-align: center;
	color: rgba(228, 216, 204, 1);
}

.section-6-pfp {
	margin: 61px 0 0 -189px;
}

.section-6-text-after-pfp {
	font-family: Inter;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	margin-top: -40px;
	margin-left: 220px;
	line-height: 5px;
}

.forbes {
	margin-top: 68px;
	padding-bottom: 140px;
}

/* Section 7 */

.background2 {
	background: rgba(16, 16, 16, 1);
}

.section7-list-item {
	margin-bottom: 52px;
}

.section-7-title {
	margin-top: 118px;
	font-family: Inter;
	font-size: 36px;
	font-weight: 400;
	line-height: 46px;
	letter-spacing: 1px;
	color: rgba(228, 216, 204, 1);
}

.section-7-link {
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	color: rgba(185, 159, 234, 1);
	transition: color 0.3s ease;
}

.section-7-link:hover {
	color: rgba(185, 159, 234, 0.7);
}


.right-image1 {
	margin-left: 90px;
	padding-top: 100px;
	padding-bottom: 71px;
}

/* Section-8 */

.background3 {
	background-image: url(photo/background1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.bonus-mission-title {
	font-family: Inter;
	font-size: 15px;
	font-weight: 400;
	line-height: 16px;
	color: rgba(195, 186, 177, 1);
	padding-top: 139px;
	margin: 0;
}

.mission-description {
	font-family: Inter;
	font-size: 48px;
	font-weight: 400;
	line-height: 54px;
	color: rgba(231, 223, 216, 1);
	margin-top: 19px;
}

.more-info {
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 2px;
	color: rgba(228, 216, 204, 1);
	margin-top: -20px;
	padding-bottom: 98px;
	margin: 0;
}

.more-info::after {
	content: '';
	display: block;
	width: 271px;
	height: 1px;
	background: rgba(228, 216, 204, 1);
	margin-top: 5px;
}

/* Footer */
.footer {
	background: rgba(16, 16, 16, 1);
}

.footer-list {
	gap: 42px;
	padding-top: 78px;
	padding-left: 0px;
	margin: 1px;
}

.footer-list-item {
	margin-bottom: 135px;
}

.footer-list2:last-child{
	align-items: flex-end;
}

.footer-list-item-h2 {
	font-family: Inter;
	font-size: 23px;
	font-weight: 400;
	line-height: 24px;
	color: rgba(228, 216, 204, 1);
}

.footer-button1 {
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	color: rgba(255, 250, 245, 1);
	width: 215px;
	height: 42px;
	background: rgba(120, 55, 243, 1);
	border: 1px solid rgba(120, 55, 243, 1);
	border-radius: 100px;
	transition: background-color 0.3s, transform 0.3s;
}

.footer-button1:hover {
	background-color: #5e23cd;
	transform: scale(1.1);
}

.footer-button1:active {
	background-color: #3a0478;
	transform: scale(0.9);
}

.footer-button2 {
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	color: rgba(255, 250, 245, 1);
	width: 251px;
	height: 42px;
	border-radius: 100px;
	border: 1px solid rgba(228, 216, 204, 1);
	background-color: inherit;
	margin-bottom: 86px;
	transition: background-color 0.3s, transform 0.3s;
}

.footer-button2:hover {
	background-color: rgba(180, 168, 156, 0.5);
	transform: scale(1.1);
}

.footer-button2:active {
	background-color: rgba(102, 91, 80, 0.5);
	transform: scale(0.9);
}

.footer-list2 {
	gap: 75px;
	padding-left: 0px;
	justify-content: start;
	display: flex;
	align-items: flex-start;
}

.footer-list2-item-h2{
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	color: rgba(228, 216, 204, 1);
	margin: 0;
	padding: 0;
}

.footer-list2-item-h2:nth-child(1){
	justify-content: start;
	align-items: start;
}

.footer-list2-item-h2:not(:last-child){
	margin-bottom: 48px;
}
.footer-right-content {
    /* display: flex; */
    /* justify-content: flex-end;  */
}



.footer-house-img{
	width: 60px;
	height: 55px;
}

.footer-h4{
	font-family: Inter;
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
	color: rgba(228, 216, 204, 1);
	margin: 0;
	margin-top: 47px;
}

.footer-list-link:hover {
	color: #333;
	transition: all 0.7s ease;
}

.footer-list-item2{
	gap: 298px;
	margin: 0;
}

.footer-list-item2-h3{
	font-family: Inter;
	font-size: 11px;
	font-weight: 400;
	line-height: 11px;
	color: rgba(228, 216, 204, 1);
	padding-bottom: 37px;
	margin: 0;
}

.line::after{
		content: '';
		display: block;
		width: 1147px;
		height: 1px;
		background: rgba(228, 216, 204, 1);
		margin-bottom: 28px;
}